.game_successfully_deleted_window {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_successfully_deleted_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292932;
    margin: 20%;
    padding: 0 1% 2% 1%;
    border-radius: 30px;
}

.game_successfully_deleted_container .svg_confirm_button {
    height: 60px;
    width: 60px;
    top : 0;
    right : 5px;
    opacity: 0.5;
    border-radius: 100px;
}

.game_successfully_deleted_container .svg_confirm_button:hover {
    opacity: 1;
}