.game_delete_confirmation_window {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_delete_confirmation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #292932;
    margin: 20%;
    padding: 0 1% 2% 1%;
    border-radius: 30px;
}

.game_delete_confirmation_container .svg_confirm_button {
    height: 60px;
    width: 60px;
    top : 0;
    right : 5px;
    opacity: 0.5;
    border-radius: 100px;
}

.game_delete_confirmation_container .svg_confirm_button:hover {
    opacity: 1;
}

.conf_buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
}

.conf_buttons button {
    padding: 5px 30px 5px 30px;
    font-size: 30px;
}

#no_button:hover {
    transition: 0.4s ease-out;
    background-color: #292932;
    color:white;
}

#yes_button:hover {
    transition: 0.4s ease;
    background-color: #292932;
    color:white;
}

@media only screen and (max-width: 701px) {
    .conf_buttons {
        gap:50px;
    }

    .conf_buttons button {
        font-size: 20px;
        padding: 5px 20px 5px 20px;

    }
}