.App-main {
    background-color: #282c34;
    min-height: 100vh;
    font-size: 23px;
    color: white;
}

.online_square {
    height: 20px;
    width: 20px;
}

.online_indicator {
    position: relative;
    display: ruby;
    right: 0;
}

@media only screen and (max-width: 540px){
    .online_indicator{
        position: relative;
    }
}